{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/">
    <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  </a>
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/">home</a>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  <div class="sns-links">
    <ul>
      <li>
        <script>gen_mail_to_link('smwhite1128@naver.com', 'From github');</script>
        <a class="social-link-item" target="_blank" herf="mailto:smwhite1128@naver.com?subject=From github">
          <i class="fa fa-fw fa-envelope"></i>
        </a>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
  {% include social-links.html %}
</div>
